<section  class="block2 remove-btm-gap">
  <div class="container">
    <div class="facility-sec">
      <div class="row">
        <div class="col-lg-6">
          <div class="cl-facility">
            <h3 class="title-hd">Classroom Facilities</h3>
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
            <p> Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas. Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas. </p>
          </div><!--cl-facility end-->
        </div>
        <div class="col-lg-6">
          <div class="fct-img">
            <img src="http://via.placeholder.com/571x380" alt="">
          </div><!--fct-img end-->
        </div>
      </div>
    </div><!--facility-sec end-->
  </div>
</section>