
<section class="block2">
  <div class="fixed-bg bg5"></div>
  <div class="container">
    <div class="heading clr">
      <h3>Our Classes and Programs</h3>
    </div><!--heading end-->
    <div class="cls-text">
      <div class="row">
        <div class="col-lg-6">
          <div class="bld-text">
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
          </div><!--bld-texte end-->
        </div>
        <div class="col-lg-6">
          <div class="blc-text">
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. </p>
          </div><!--blc-text end-->
        </div>
      </div>
    </div><!--cls-texte end-->
    <div class="more-services">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="services_details">
            <div class="row">
              <div class="col-lg-6">
                <div class="srvc-img">
                  <%= image_tag('infant.jpeg'  )  %>
                  <!-- <img src="http://via.placeholder.com/270x202" alt=""> -->
                  <div class="specs-fig">
                    <ul>
                      <li>
                        <h3>12-24 <br/> Months Old</h3>
                      </li>
                      <li>
                        <h3>12 <br/> Class Size</h3>
                      </li>
                    </ul>
                  </div><!--specs-fig end-->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="srv_det">
                  <h3>Infant Program</h3>
                  <p>Elipsis magna a terminal nulla </p>
                  <a href="#" title="">More Info</a>
                </div><!--srv_det end-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="services_details">
            <div class="row">
              <div class="col-lg-6">
                <div class="srvc-img">
                  <%= image_tag('toddler.jpeg', width: 270 )  %>
                  <div class="specs-fig">
                    <ul>
                      <li>
                        <h3>8-22 <br/> Months Old</h3>
                      </li>
                      <li>
                        <h3>6 <br/> Class Size</h3>
                      </li>
                    </ul>
                  </div><!--specs-fig end-->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="srv_det">
                  <h3>Toddler Program</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                  <a href="#" title="">More Info</a>
                </div><!--srv_det end-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="services_details">
            <div class="row">
              <div class="col-lg-6">
                <div class="srvc-img">
                  <%= image_tag('preschool-room.jpeg', width: 270 )  %>
                  <div class="specs-fig">
                    <ul>
                      <li>
                        <h3>22-36 <br/> Months Old</h3>
                      </li>
                      <li>
                        <h3>15 <br/> Class Size</h3>
                      </li>
                    </ul>
                  </div><!--specs-fig end-->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="srv_det">
                  <h3>Pre-School Program</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                  <a href="#" title="">More Info</a>
                </div><!--srv_det end-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="services_details">
            <div class="row">
              <div class="col-lg-6">
                <div class="srvc-img">
                  <%= image_tag('pre-k-best-2.jpeg', width: 270 )  %>
                  
                  <div class="specs-fig">
                    <ul>
                      <li>
                        <h3>3-4 <br/> Years Old</h3>
                      </li>
                      <li>
                        <h3>20 <br/> Class Size</h3>
                      </li>
                    </ul>
                  </div><!--specs-fig end-->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="srv_det">
                  <h3>Pre-Kindergarten Program</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                  <a href="#" title="">More Info</a>
                </div><!--srv_det end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--more-services end-->
  </div>
</section>