<div class="pricing-tables">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="price-table">
              <div class="ico">
                <%= image_tag('ico1.png') %>
                
              </div>
              <h3>Per Day</h3>
              <div class="pricing-content">
                <ul>
                  <li>
                    <span>Pre-Kindergarten</span>
                    <span><strong>$16</strong></span>
                    
                  </li>
                  <li>
                    <span>Before & Afterschool </span>
                    <span><strong>$18</strong></span>
                    
                  </li>
                  <li>
                    <span>Afterschool Only</span>
                    <span><strong>$16</strong></span>
                    
                  </li>
                  <li>
                    <span>Full Day</span>
                    <span><strong>$30</strong></span>
                    
                  </li>
                </ul>
              </div><!--pricing-content end-->  
            </div><!--price-table end-->
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="price-table clr_2">
              <div class="ico">
                <%= image_tag('ico2.png') %>
              </div>
              <h3>Pre Week</h3>
              <div class="pricing-content">
                <ul>
                  <li>
                    <span>Pre-Kindergarten</span>
                    <span><strong>$80</strong></span>
                    
                    
                  </li>
                  <li>
                    <span>Before & Afterschool </span>
                    <span><strong>$90</strong></span>
                    
                  </li>
                  <li>
                    <span>Afterschool Only</span>
                    <span><strong>$80</strong></span>
                    
                  </li>
                  <li>
                    <span>Full Day</span>
                    <span><strong>$150</strong></span>
                  </li>
                </ul>
              </div><!--pricing-content end-->  
            </div><!--price-table end-->
          </div>

        </div>
      </div><!--pricing-tables end-->