
<div class="text-center">
  
</div>

<div>

<!-- <h1 style="text-align: center">Coming Soon!</h1> --></div>

<div class="container">
  <div class="footer-data">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="text-center">
          
        </div>
        <%= image_tag 'coming_soon.png', style: 'margin-top: 50px;height:200px;width:auto;', class: 'rounded mx-auto d-block' %>
        <%= image_tag 'littleDucklingsLogo.png', style: 'margin-top: 50px;height:300px;width:auto;', class: 'rounded_2rem mx-auto d-block' %>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-12">

      </div>

    </div>
  </div><!-- footer-data end-->
</div>