
<%= image_tag 'coming_soon.png', style: 'margin-top: 50px;height:200px;width:auto;', class: 'rounded mx-auto d-block' %>
<%= image_tag 'littleDucklingsLogo.png', style: 'margin-top: 50px;height:300px;width:auto;', class: 'rounded_2rem mx-auto d-block' %>
<!-- <h1 style="text-align: center">Coming Soon!</h1> -->

