
<section  class="block2">
  <div class="fixed-bg bg-locations"></div>
  <div class="container">

    
    

    <div class="descp-sec">
      <div class="row">

        <%= image_tag('littleDucklingsLogo.png', width: '400px', class: 'rounded mx-auto d-block')  %>
      </div>
      <h3>Welcome to the <span>Little Duckling’s</span> Choose your <span>Location</span> for more details</h3>
    </div><!--descp-sec end-->
  </div>
</section>
  <section class="block bdr-bfr">
    <div class="container">

      <div class="our-services">
        
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-success" role="alert">
              This is a success alert—check it out!
            </div> -->

            <div class="service-details">
              <%= link_to(home_path) do %>
              <div class="service-icon sbg4">
                <!-- <i class="fa fa-paw"></i> -->
              </div>
                <div class="service-info sbg4">
                  <h3>Little Ducklings </h3>
                </div>
              <% end%>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
            </div> -->
            
            <div class="service-details">
              <%= link_to(pond_path) do %>
              <div class="service-icon sbg2">
                <!-- <i class="fa fa-paw"></i> -->
              </div>
                <div class="service-info sbg2">
                  <h3>Little Ducklings Pond</h3>
                </div>
              <% end %>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="service-details">

              <%= link_to(lake_path) do %>
                <div class="service-icon sbg1">
                  <!-- <i class="fa fa-paw"></i> -->
                </div>
                <div class="service-info sbg1">
                  <h3>Little Ducklings Lake</h3>
                </div>
                <% end %>
            </div><!--service-details end-->  
          </div>
        </div>
      </div><!--our-services-->
    </div>
  </section>