.navbar-light .navbar-brand {

  color: #fff;
  
  padding: 0;
}
a.navbar-brand {
    font-size: 34px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}

#littleducklings-nav {
  background-color: #6b448e !important;
  // background-color: #D0322E !important;
  /* border: #fff; */
  border-bottom: 1px solid;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

// #pond-nav{
//   background-color: #6b448e !important;
// }
// #lake-nav{
//   background-color: #52C3DA !important; 
// }
#pond-nav{
  background-color: #6b448e !important;
}
#lake-nav{
  background-color: #6b448e !important; 
}