.navbar-light .navbar-brand {
  h3 {
    font-size: 34px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
  }
  color: #fff;
  
  padding: 0;
}
#littleducklings-nav {
  background-color: #6b448e !important;
  /* border: #fff; */
  border-bottom: 1px solid;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

#pond-nav{
  background-color: #ba2b6f !important;
}
#lake-nav{
  background-color: #0f9fbc !important; 
}