<section id="blog" class="block3">
  <div class="container">
    <div class="heading clr">
      <h3>Kindergarten Blog & News</h3>
    </div><!--heading end-->
    <div class="blog-posts">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="blog-post">
            <div class="post-img">
              <img src="http://via.placeholder.com/369x375" alt="">
              <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
              <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
            </div><!--post-img end-->
            <div class="post-info">
              <h3><a href="blog-details.html" title="">Learn Separation Tips</a></h3>
              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
              <a href="blog-details.html" title="">Read More ></a>
            </div><!--post-info end-->
          </div><!--blog-post end-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="blog-post">
            <div class="post-img">
              <img src="http://via.placeholder.com/369x375" alt="">
              <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
              <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
            </div><!--post-img end-->
            <div class="post-info">
              <h3><a href="blog-details.html" title="">Camp Songs for Kids</a></h3>
              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
              <a href="blog-details.html" title="">Read More ></a>
            </div><!--post-info end-->
          </div><!--blog-post end-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="blog-post">
            <div class="post-img">
              <img src="http://via.placeholder.com/369x375" alt="">

              <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
              <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
            </div><!--post-img end-->
            <div class="post-info">
              <h3><a href="blog-details.html" title="">How Paint Funny Pictures</a></h3>
              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
              <a href="blog-details.html" title="">Read More ></a>
            </div><!--post-info end-->
          </div><!--blog-post end-->
        </div>
      </div>
    </div><!--blog-posts end-->
    <div class="full-posts">
      <a href="blog.html" title="">CLICK HERE TO READ OUR FULL BLOG</a>
    </div>
  </div>
</section>