<%- unless @blog_posts.nil?%>
  <section id="blog" class="block3">
    <div class="container">
      <div class="heading clr">
        <h3>Kindergarten Blog & News</h3>
      </div><!--heading end-->
      <div class="blog-posts">
        <div class="row">
          <%- @blog_posts.each do |post| %>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="blog-post">
                <div class="post-img">
                  <img src="http://via.placeholder.com/369x375" alt="">
                  <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
                  <span class="post-date"><i class="far fa-newspaper"></i>  <%= post.published_at.strftime("%B %d, %Y") %></span>
                </div><!--post-img end-->
                <div class="post-info">
                  <h3><a href="blog-details.html" title=""><%= post.title %></a></h3>
                  <p><%= truncate(post.body, :length => 200) %></p>
                  <a href="blog-details.html" title="">Read More ></a>
                </div><!--post-info end-->
              </div><!--blog-post end-->
            </div>
          <%- end %>
          
          
        </div>
      </div><!--blog-posts end-->
      <div class="full-posts">
        <a href="blog.html" title="">CLICK HERE TO READ OUR FULL BLOG</a>
      </div>
    </div>
  </section>
<%- end%>
