  <section class="block3">
    <div class="fixed-bg bg9"></div>
    <div class="container">
      <div class="enquiry-sec">
        <div class="heading clr">
          <h3>Contact Us</h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
        </div><!--heading end-->
        <div class="contact_sec">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-field">
                  <input type="text" name="name" placeholder="Name">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="email" placeholder="Email">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="subject" placeholder="Subject">
                </div><!--input-field end-->
              </div>
              <div class="col-lg-6">
                <div class="input-field">
                  <textarea placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="btn-submit">
                  <button type="submit">SUBMIT</button>
                </div><!--btn-submit end-->
              </div>
            </div>
          </form>
        </div><!--contact_sec end-->
      </div><!--enquiry-sec end-->
    </div>
  </section>