  <section class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>SESSIONS & ROOMS</h3>
        <h4>FOR A REAL HEAD START IN LIFE</h4>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->


  <section class="block no-padding">
    <div class="session-rooms">
      <div class="row">
        <div class="col-lg-3">
          <div class="room-info">
            <h3 class="title-hd">Daisy Room</h3>
            <span>AGES 0 - 2 Years</span>
            <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating environment with plenty of sensory experiences.</h3>
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
            <a href="#" title="">More Info</a>
          </div><!--room-info end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
      </div>
    </div><!--session-rooms end-->
  </section>

  <section class="block2">
      <div class="fixed-bg bg-1"></div>
      <div class="container">
        <div class="descp-sec">
          <h3>Over <span>30 Years Experience</span> in the childcare and development sector</h3>
        </div><!--descp-sec end-->
      </div>
    </section>

    <section class="block no-padding">
    <div class="session-rooms">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3">
          <div class="room-info style2">
            <h3 class="title-hd">Butterfly Room</h3>
            <span>AGES 0 - 2 Years</span>
            <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating environment with plenty of sensory experiences.</h3>
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
            <a href="#" title="">More Info</a>
          </div><!--room-info end-->
        </div>
      </div>
    </div><!--session-rooms end-->
  </section>

  <section class="block2">
      <div class="fixed-bg bg-2"></div>
      <div class="container">
        <div class="descp-sec">
          <h3><span>Purpose built</span> play areas for your childs growth and education</h3>
        </div><!--descp-sec end-->
      </div>
    </section>


    <section class="block no-padding">
    <div class="session-rooms">
      <div class="row">
        <div class="col-lg-3">
          <div class="room-info style3">
            <h3 class="title-hd">Daisy Room</h3>
            <span>AGES 0 - 2 Years</span>
            <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating environment with plenty of sensory experiences.</h3>
            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
            <a href="#" title="">More Info</a>
          </div><!--room-info end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-4">
          <div class="room-img">
            <img src="http://via.placeholder.com/340x719" alt="">
          </div><!--room-img end-->
        </div>
      </div>
    </div><!--session-rooms end-->
  </section>

  <section class="block2">
      <div class="fixed-bg bg-3"></div>
      <div class="container">
        <div class="descp-sec">
          <h3><span>Fully skilled</span> staff and teachers to get your child ready for primary school</h3>
        </div><!--descp-sec end-->
      </div>
    </section>


  <section class="block3">
    <div class="fixed-bg bg9"></div>
    <div class="container">
      <div class="enquiry-sec">
        <div class="heading clr">
          <h3>Contact Us</h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
        </div><!--heading end-->
        <div class="contact_sec">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-field">
                  <input type="text" name="name" placeholder="Name">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="email" placeholder="Email">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="subject" placeholder="Subject">
                </div><!--input-field end-->
              </div>
              <div class="col-lg-6">
                <div class="input-field">
                  <textarea placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="btn-submit">
                  <button type="submit">SUBMIT</button>
                </div><!--btn-submit end-->
              </div>
            </div>
          </form>
        </div><!--contact_sec end-->
      </div><!--enquiry-sec end-->
    </div>
  </section>