  <section id="contact" class="block3">
    <div class="fixed-bg bg9"></div>
    <div class="container">
      <div class="enquiry-sec">
        <div class="heading clr">
          <h3>Contact Us</h3>
          <p> If you have any questions about our amazing kindergarten, please do not hesitate to contact us.</p>
        </div><!--heading end-->
        <div class="contact_sec">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-field">
                  <input type="text" name="name" placeholder="Name">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="email" placeholder="Email">
                </div><!--input-field end-->
                <div class="input-field">
                  <input type="text" name="subject" placeholder="Subject">
                </div><!--input-field end-->
              </div>
              <div class="col-lg-6">
                <div class="input-field">
                  <textarea placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="btn-submit">
                  <button type="submit">SUBMIT</button>
                </div><!--btn-submit end-->
              </div>
            </div>
          </form>
        </div><!--contact_sec end-->
      </div><!--enquiry-sec end-->
    </div>
  </section>
  <section id="gallery" class="block2">
    <div class="fixed-bg bg7 no-fix"></div>
    <div class="heading st2">
      <h3>Gallery</h3>
    </div><!--heading end-->
    <div class="masonary no-pd">
      <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="gallery-ms">
          
          <%= image_tag('classroom-2.jpeg', width: '800') %>
          <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
        </div><!--gallery-ms end-->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="gallery-ms">
          <%= image_tag('pre-k-best-2.jpeg', width: '800') %>
          <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
        </div><!--gallery-ms end-->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="gallery-ms">
          <%= image_tag('classroom-2.jpeg', width: '800') %>
          <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
        </div><!--gallery-ms end-->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="gallery-ms">
          <%= image_tag('pre-k-123.jpeg', width: '800') %>
          <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
        </div><!--gallery-ms end-->
      </div>
    </div>
    
    </div><!--gallery-section end-->
  </section>