<section id="educators" class="block3 remove-btm-gap">
  <div class="fixed-bg bg2 overlay"></div>
  <div class="container">
    <div class="heading">
      <h3>Meet Our Educators</h3>
      <!-- <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p> -->
    </div><!--heading end-->
    
    
    <%- if @staff_pages.exists? %>
      <div  class="teachers-sec ">
        <div id='slick_edu' class="row staff-carousel">
          <% @staff_pages.each do |staff| %>
            <%= link_to staff_page_path(staff) do %>
              <div class="col-lg-3 slide">
                <div class="tch-team">
                  <%= image_tag staff.cover_photo, class: "mx-auto img-fluid"  %>
                  <div class="tch-team-details">
                    <h5><%= staff.role %></h5>
                    <h3><%= staff.name %></h3>
                  </div>
                  
                </div><!--tch-team end-->
              </div>
            <% end %>
          <% end %>
        </div>
      </div><!--teachers-sec end-->
    <% end %>
    
  </div>
</section>
<section class="block2">
    <div class="fixed-bg bg-1"></div>
    <div class="container">
      <div class="descp-sec">
        <h3>Building strong trusting relationships between <span>educators and children</span></h3>
      </div><!--descp-sec end-->
    </div>
</section>
