  <section id="prices" class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>OUR PRICES</h3>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->
  <section class="block3">
    <div class="fixed-bg bg7"></div>
    <div class="container">
      <div class="pricing-tables">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="price-table">
              <div class="ico">
                <%= image_tag('ico1.png') %>
                
              </div>
              <h3>Per Day</h3>
              <div class="pricing-content">
                <ul>
                  <li>
                    <span>Pre-Kindergarten</span>
                    <span><strong>$16</strong></span>
                    
                  </li>
                  <li>
                    <span>Before & Afterschool </span>
                    <span><strong>$18</strong></span>
                    
                  </li>
                  <li>
                    <span>Afterschool Only</span>
                    <span><strong>$16</strong></span>
                    
                  </li>
                  <li>
                    <span>Full Day</span>
                    <span><strong>$30</strong></span>
                    
                  </li>
                </ul>
              </div><!--pricing-content end-->  
            </div><!--price-table end-->
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="price-table clr_2">
              <div class="ico">
                <%= image_tag('ico2.png') %>
              </div>
              <h3>Pre Week</h3>
              <div class="pricing-content">
                <ul>
                  <li>
                    <span>Pre-Kindergarten</span>
                    <span><strong>$80</strong></span>
                    
                    
                  </li>
                  <li>
                    <span>Before & Afterschool </span>
                    <span><strong>$90</strong></span>
                    
                  </li>
                  <li>
                    <span>Afterschool Only</span>
                    <span><strong>$80</strong></span>
                    
                  </li>
                  <li>
                    <span>Full Day</span>
                    <span><strong>$150</strong></span>
                  </li>
                </ul>
              </div><!--pricing-content end-->  
            </div><!--price-table end-->
          </div>

        </div>
      </div><!--pricing-tables end-->
      <div class="other-info">
        <p>If you have any questions about our amazing kindergarten, please do not hesitate to contact us.</p>
        <div class="cont-info">
          <h3><a href="mailto:kindergarten@kindergarten.com" title="">LittleDucklingsinc@gmail.com</a></h3>
          <h3>+1 902 370 3925</h3>
        </div><!--cont-info end -->
      </div><!--other-info end-->
    </div>
  </section>


  <section class="block no-padding">
    <div class="cms-opng-details">
      <div class="row">
        <div class="col-lg-6">
          <div class="cms-opn-info pd-left">
            <h3 class="title-hd">Opening Times</h3>
            <p>Little Ducklings Lake Childcare Centre will open at 6:30 a.m. and close at 6:30 sharp.</p> 
            <p>  If early care is required by your family please let a staff member know one day in advance. Children are to be in our care no longer than 10 hours per day.</p>
          </div><!--cms-opn-info end-->
        </div>
        <div class="col-lg-6">
          <div class="cms-opn-info pd-right">
            <h3 class="title-hd">Discounts & Payments</h3>
            <p>Fees are payable, in advance, on the 1st day of each calendar month, usually by standing order.</p>
            <p>Payments can be made with etransfers to LittleDucklingsinc@gmail.com please include details of the child.</p>
            
          </div><!--cms-opn-info end-->
        </div>
      </div>
    </div><!--cms-opng-details end-->
  </section>


  