  <section class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>OUR PROGRAM PRICES</h3>
        <h4>KINDERGARTEN PRICES & DETAILS</h4>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->



      <section class="block4">
        <div class="fixed-bg bg12"></div>
        <div class="container">
          <div class="pricing-tables">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="price-table">
                  <div class="ico">
                    <img src="images/ico1.png" alt="">
                  </div>
                  <h3>Full Day</h3>
                  <div class="pricing-content">
                    <ul>
                      <li>
                        <span><b>$</b><strong>16</strong><small>.00</small></span>
                        <span>Pre-Kindergarten</span>
                      </li>
                      <li>
                        <span><b>$</b><strong>18</strong><small>.00</small></span>
                        <span>Before & Afterschool </span>
                      </li>
                      <li>
                        <span><b>$</b><strong>16</strong><small>.00</small></span>
                        <span>Afterschool Only</span>
                      </li>
                      <li>
                        <span><b>$</b><strong>30</strong><small>.00</small></span>
                        <span>Full Day</span>
                      </li>
                    </ul>
                  </div><!--pricing-content end-->
                  <div class="more-info">
                    <a href="#" title="">More Info</a>
                  </div>
                </div><!--price-table end-->
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="price-table clr_2">
                  <div class="ico">
                    <img src="images/ico2.png" alt="">
                  </div>
                  <h3>Full Week</h3>
                  <div class="pricing-content">
                    <ul>
                      <li>
                        <span><b>$</b><strong>80</strong><small>.00</small></span>
                        <span>Pre-Kindergarten</span>
                      </li>
                      <li>
                        <span><b>$</b><strong>90</strong><small>.00</small></span>
                        <span>Before & Afterschool </span>
                      </li>
                      <li>
                        <span><b>$</b><strong>80</strong><small>.00</small></span>
                        <span>Afterschool Only</span>
                      </li>
                      <li>
                        <span><b>$</b><strong>150</strong><small>.00</small></span>
                        <span>Full Day</span>
                      </li>
                    </ul>
                  </div><!--pricing-content end-->
                  <div class="more-info">
                    <a href="#" title="">More Info</a>
                  </div>
                </div><!--price-table end-->
              </div>

            </div>
          </div><!--pricing-tables end-->
      <div class="other-info">
        <p>If you have any questions about our amazing kindergarten, please do not hesitate to contact us.</p>
        <div class="cont-info">
          <h3><a href="mailto:kindergarten@kindergarten.com" title="">LittleDucklingsinc@gmail.com</a></h3>
          <h3>902 370 3925</h3>
        </div><!--cont-info end -->
      </div><!--other-info end-->
    </div>
  </section>


  <section class="block no-padding">
    <div class="cms-opng-details">
      <div class="row">
        <div class="col-lg-6">
          <div class="cms-opn-info pd-left">
            <h3 class="title-hd">Opening Times</h3>
            <p>We are open 7.30am to 6pm, Monday – Friday for 51 weeks of the year.</p> 
            <p> We close for one week at Christmas, in addition to Bank Holidays. We close at 3pm on Christmas Eve.</p>
          </div><!--cms-opn-info end-->
        </div>
        <div class="col-lg-6">
          <div class="cms-opn-info pd-right">
            <h3 class="title-hd">Discounts & Payments</h3>
            <p>Fees are payable, in advance, on the 1st day of each calendar month, usually by standing order.</p>
            <p> Discounts are available for siblings who both attend either full time or four days each week. Full time discount 10% or 4-day discount 5%. Discounts apply to the oldest child.
          </div><!--cms-opn-info end-->
        </div>
      </div>
    </div><!--cms-opng-details end-->
  </section>


  <section class="block2 remove-btm-gap">
    <div class="fixed-bg bg7"></div>
    <div class="heading st2">
      <h3>How to find us</h3>
    </div><!--heading end-->
    <div class="gmap">
      <div id="map"></div>
    </div><!--gmap end-->
  </section>