<section class="block2 ">
    <div class="fixed-bg bg7"></div>
    <div class="heading st2">
      <h3>LITTLE DUCKLINGS LAKE PROGRAM PRICES</h3>
    </div><!--heading end-->
    <div class="card-deck mb-3 text-center">
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pre-Kindergarten</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$16 <small class="text-muted">/ day</small></h1>
          <h1 class="card-title pricing-card-title">$80 <small class="text-muted">/ week</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
          </ul>
          <div class="more-info">
            <a href="#" title="">Join Us</a>
          </div>
        </div>
      </div>
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Before & Afterschool</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$18 <small class="text-muted">/ day</small></h1>
          <h1 class="card-title pricing-card-title">$90 <small class="text-muted">/ week</small></h1>
          <ul class="list-unstyled mt-3 mb-3">
          </ul>
          <div class="more-info">
            <a href="#" title="">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Afterschool Only</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$16 <small class="text-muted">/ day</small></h1>
          <h1 class="card-title pricing-card-title">$80 <small class="text-muted">/ week</small></h1>
          <ul class="list-unstyled mt-3 mb-4">

          </ul>
          <div class="more-info">
            <a href="#" title="">More Info</a>
          </div>
        </div>
      </div>
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Full Day</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ day</small></h1>
          <h1 class="card-title pricing-card-title">$150 <small class="text-muted">/ day</small></h1>
          <ul class="list-unstyled mt-3 mb-4">

          </ul>
          <div class="more-info">
            <a href="#" title="">Become a Duckling</a>
          </div>
        </div>
      </div>
      <div class="other-info">
        <p>If you have any questions about our amazing kindergarten, please do not hesitate to contact us.</p>
        <div class="cont-info">
          <h3><a href="mailto:kindergarten@kindergarten.com" title="">LittleDucklingsinc@gmail.com</a></h3>
          <h3>+1 902 370 3925</h3>
        </div><!--cont-info end -->
      </div><!--other-info end-->
  </section>