<section class="block4">
  <div class="fixed-bg bg12"></div>
  <div class="container">
    <div class="pricing-tables">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="price-table">
            <div class="ico">
              <img src="images/ico1.png" alt="">
            </div>
            <h3>Pre-Kindergarten</h3>
            <div class="pricing-content">
              <ul>
                <li>
                  <span><b>$</b><strong>80</strong><small>.00</small></span>
                  <span>Full Week</span>
                </li>
                <li>
                  <span><b>$</b><strong>16</strong><small>.00</small></span>
                  <span>Full Day </span>
                </li>

              </ul>
            </div><!--pricing-content end-->
            <div class="more-info">
              <a href="#" title="">More Info</a>
            </div>
          </div><!--price-table end-->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="price-table clr_2">
            <div class="ico">
              <img src="images/ico2.png" alt="">
            </div>
            <h3>Before & Afterschool</h3>
            <div class="pricing-content">
              <ul>
                <li>
                  <span><b>$</b><strong>90</strong><small>.00</small></span>
                  <span>Full Week</span>
                </li>
                <li>
                  <span><b>$</b><strong>18</strong><small>.00</small></span>
                  <span>Full Day </span>
                </li>
              </ul>
            </div><!--pricing-content end-->
            <div class="more-info">
              <a href="#" title="">More Info</a>
            </div>
          </div><!--price-table end-->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="price-table clr_3">
            <div class="ico">
              <img src="images/ico2.png" alt="">
            </div>
            <h3>Afterschool Only</h3>
            <div class="pricing-content">
              <ul>
                <li>
                  <span><b>$</b><strong>80</strong><small>.00</small></span>
                  <span>Full Week</span>
                </li>
                <li>
                  <span><b>$</b><strong>16</strong><small>.00</small></span>
                  <span>Full Day </span>
                </li>
              </ul>
            </div><!--pricing-content end-->
            <div class="more-info">
              <a href="#" title="">More Info</a>
            </div>
          </div><!--price-table end-->
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="price-table clr_3">
            <div class="ico">
              <img src="images/ico3.png" alt="">
            </div>
            <h3>Full Day</h3>
            <div class="pricing-content">
              <ul>
                <li>
                  <span><b>$</b><strong>150</strong><small>.00</small></span>
                  <span>Full Week</span>
                </li>
                <li>
                  <span><b>$</b><strong>30</strong><small>.00</small></span>
                  <span>Full Day </span>
                </li>

              </ul>
            </div><!--pricing-content end-->
            <div class="more-info">
              <a href="#" title="">More Info</a>
            </div>
          </div><!--price-table end-->
        </div>
      </div>
    </div><!--pricing-tables end-->