<section id="menu" class="block4">
  <div class="container">

    <div class="our-features-sec">
      <div class="features-list-tab">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li>
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Monday</a>
        </li>
          <li>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tuesday</a>
          </li>
        <li>
           <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Wednesday</a>
        </li>
        <li>
           <a class="nav-link" id="dev-tab" data-toggle="tab" href="#dev" role="tab" aria-controls="dev" aria-selected="false">Thursday</a>
        </li>
        <li>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Friday </a>
        </li>
      </ul>
      </div><!--features-list-tab end-->
      <div class="feature-services">
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-lg-8">
              <div class="cws-inp-details">
                <h3>Indoor Play Areas</h3>
                <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                <a href="#" title="">More info</a>
              </div><!--cws-inp-details end-->
            </div>
            <div class="col-lg-4">
              <div class="tb-img">
                <img src="http://via.placeholder.com/307x323" alt="">
              </div><!--tb-img end-->
            </div>
          </div>
        </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
            <div class="col-lg-8">
              <div class="cws-inp-details">
                <h3>Indoor Play Areas</h3>
                <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                <a href="#" title="">More info</a>
              </div><!--cws-inp-details end-->
            </div>
            <div class="col-lg-4">
              <div class="tb-img">
                <img src="http://via.placeholder.com/307x323" alt="">
              </div><!--tb-img end-->
            </div>
          </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
            <div class="col-lg-8">
              <div class="cws-inp-details">
                <h3>Indoor Play Areas</h3>
                <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                <a href="#" title="">More info</a>
              </div><!--cws-inp-details end-->
            </div>
            <div class="col-lg-4">
              <div class="tb-img">
                <img src="http://via.placeholder.com/307x323" alt="">
              </div><!--tb-img end-->
            </div>
          </div>
          </div>
          <div class="tab-pane fade" id="dev" role="tabpanel" aria-labelledby="dev">
            <div class="row">
            <div class="col-lg-8">
              <div class="cws-inp-details">
                <h3>Indoor Play Areas</h3>
                <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                <a href="#" title="">More info</a>
              </div><!--cws-inp-details end-->
            </div>
            <div class="col-lg-4">
              <div class="tb-img">
                <img src="http://via.placeholder.com/307x323" alt="">
              </div><!--tb-img end-->
            </div>
          </div>
          </div>
      </div>
    </div>
    </div><!--our-features-sec end-->
  </div>
</section>