<section id='testimonials' class="block3">
  <div class="fixed-bg bg4 clr-overlay"></div>
  <div class="container">
    <div class="heading st2">
      <h3>What The Parents Say</h3>
    </div><!--heading end-->
    <% if @reviews.exists? %>
      <div id="carouselContent" class="testimonial-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @reviews.each do |review| %>
            <div class="testi-comment carousel-item active text-center ">
              <p><%= review.body.html_safe %></p>
              <div class="client-info">
                <h3><%= review.reviewer %></h3>
                <h4><%= review.location %></h4>
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div><!--client-info end-->
            </div><!--testi-comment end-->
          <% end %>
    <% end%>
    
        
       
        
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div><!--testimonial-carousel end-->
  </div>
</section>
