<section id="locations" class="block2">
  <div class="fixed-bg bg1"></div>
  <div class="container">
    <div class="descp-sec">
      <h3>Welcome to the <span>Little Duckling’s</span> Childcare Centres</h3>
    </div><!--descp-sec end-->
  </div>
</section>
  <section class="block bdr-bfr">
    <div class="container">
      <div class="our-services">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-success" role="alert">
              This is a success alert—check it out!
            </div> -->
            <div class="service-details">
              <%= link_to(home_path) do %>
                <div class="service-icon bg1">
                  <i class="fa fa-paw"></i>
                </div>
                <div class="service-info">
                  <h3>Little Ducklings </h3>
                  <p>Little Ducklings Childcare Centre (L4574) located on 26 hollis dr Stratford, PE</p>
                </div>
              <% end%>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
            </div> -->
            
            <div class="service-details">
              <%= link_to(pond_path) do %>
                <div class="service-icon sbg2">
                  <i class="fa fa-paw"></i>
                </div>
                <div class="service-info">
                  <h3>Little Ducklings Pond</h3>
                  <p>Little Ducklings Pond Childcare Centre (L4589) located on 26 hollis dr Stratford, PE</p>
                </div>
              <% end %>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="service-details">
              <%= link_to(lake_path) do %>
  <!--                 <div class="alert alert-warning" role="alert">
                  This is a warning alert—check it out!
                </div> -->
                <div class="service-icon sbg1">
                  <i class="fa fa-paw"></i>
                </div>

                <div class="service-info">
                  <h3>Little Ducklings Lake</h3>
                  <p> Little Ducklings Lake Childcare Centre 
                  (L4591) located on 26 hollis dr Stratford, PE</p>
                </div>
                <% end %>
            </div><!--service-details end-->  
          </div>
        </div>
      </div><!--our-services-->
    </div>
  </section>