
<section id="locations" class="block2">
  <div class="fixed-bg bg1"></div>
  <div class="container">

    <div class="descp-sec">

      <div class="row">
        <div class="container">
            <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="3500">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400/dd4444/fff" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block mx-auto img-fluid" src="//placehold.it/800x400/777" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
        <%= image_tag('littleDucklingsLogo.png', width: '400px', class: 'rounded mx-auto d-block')  %>
        
      </div>
      <h3>Welcome to the <span>Little Duckling’s</span> Childcare Centre! </h3>
      <div class="page-sub-title"> Choose your location for more details</div>
    </div><!--descp-sec end-->
  </div>
</section>
  <section class="block bdr-bfr">
    <div class="container">

      <div class="our-services">
        
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-success" role="alert">
              This is a success alert—check it out!
            </div> -->

            <div class="service-details">
              <%= link_to(home_path) do %>
              <div class="service-icon bg1">
                <i class="fa fa-paw"></i>
              </div>
                <div class="service-info bg1">
                  <h3>Little Ducklings </h3>
                </div>
              <% end%>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
            </div> -->
            
            <div class="service-details">
              <%= link_to(pond_path) do %>
              <div class="service-icon sbg2">
                <i class="fa fa-paw"></i>
              </div>
                <div class="service-info sbg2">
                  <h3>Little Ducklings Pond</h3>
                </div>
              <% end %>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="service-details">

              <%= link_to(lake_path) do %>
                <div class="service-icon sbg1">
                  <i class="fa fa-paw"></i>
                </div>
                <div class="service-info sbg1">
                  <h3>Little Ducklings Lake</h3>
                </div>
                <% end %>
            </div><!--service-details end-->  
          </div>
        </div>
      </div><!--our-services-->
    </div>
  </section>