
<section id="locations" class="block2">
  <div class="fixed-bg bg1"></div>
  <div class="container">



    <div class="descp-sec">
      <h3>Welcome to the <span>Little Duckling’s</span> Childcare Centre! </h3>
      <div class="page-sub-title"> Choose your location for more details</div>
    </div><!--descp-sec end-->
  </div>
</section>
  <section class="block bdr-bfr">
    <div class="container">
      <div class="alert alert-success" role="alert">
        Hello Little Ducklings,
        <br>  
        Today we are on a one hour snow delay. Please feel free to drop off after 9am
        <br>
        <br>
        Thank you
        <br>
        Sarah and Nicole
      </div>
      <div class="alert alert-danger" role="alert">
        Due to the snow strom last night we will be not Open today. Please enjoy the snow day and we will see everyone April 23th, at 6:30
      </div>
      <div class="alert alert-warning" role="alert">
        Happy Easter to all little ducklings and there families this long week. We will be open on The following monday April 8, 2021.
        <br>
        Sarah and Nicole
      </div>
      <div class="our-services">
        <div class="row">

          <%= image_tag('littleDucklingsLogo.png', width: '400px', class: 'rounded mx-auto d-block')  %>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-success" role="alert">
              This is a success alert—check it out!
            </div> -->
            <div class="service-details">
              <%= link_to(home_path) do %>
                <div class="service-info bg1">
                  <h3>Little Ducklings </h3>
                  26 Hollis Ave
                  <br> 
                  Stratford, PE
                  <br>
                  C1B 4E1
                </div>
              <% end%>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
<!--               <div class="alert alert-danger" role="alert">
              This is a danger alert—check it out!
            </div> -->
            
            <div class="service-details">
              <%= link_to(pond_path) do %>
                <div class="service-info sbg2">
                  <h3>Little Ducklings Pond</h3>
                  26 Hollis Ave
                  <br> 
                  Stratford, PE
                  <br>
                  C1B 4E1
                </div>
              <% end %>
            </div><!--service-details end-->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="service-details">
              <%= link_to(lake_path) do %>

                <div class="service-info sbg1">
                  <h3>Little Ducklings Lake</h3>
                  30 Hollis Ave
                  <br> 
                  Stratford, PE
                  <br>
                  C1B 4E1
                </div>
                <% end %>
            </div><!--service-details end-->  
          </div>
        </div>
      </div><!--our-services-->
    </div>
  </section>