
<section id="locations" class="block2">
  <div class="fixed-bg bg1"></div>
  <div class="container">

    
    

    <div class="descp-sec">
      <div class="row">

        <%= image_tag('littleDucklingsLogo.png', width: '400px', class: 'rounded mx-auto d-block')  %>
      </div>
      <h3>Welcome to the <span>Little Duckling’s</span> Childcare Centre! </h3>
      <div class="page-sub-title"> Choose your location for more details</div>
    </div><!--descp-sec end-->
  </div>
</section>
 