<section class="block7 ">
  <div class="container">
    <div class="cms-about-us">
      <div class="row">
        <div class="col-lg-12">
          <div class="cms-about-text pt-top">
            <h3 class="title-hd">Why become a <span>LITTLE DUCKLING?</span></h3>
            <div class="cms-welcome-img">
              <%= image_tag('fire.jpg',  width: '555px', class: "img-responsive") %>
              <!-- <img src="http://via.placeholder.com/667x463" alt=""> -->
            </div><!--cms-abt-img end--> 
            <p>Little Ducklings offers a diverse, inclusive,cozy, comfortable homey atmosphere, which is very welcoming to all. We have a large green space around the locations as well as some nicely wooded areas for the children to explore and discover. We also are located near  the town soccer fields and rails for trials which is directly across from our location. The children have access to these areas as long as the weather permits. </p> 

            <p>Little Ducklings locations are centered around play based learning . We believe at Little Ducklings that the way children learn most effectively is through their own discovery and interests. This belief is consistent with that of the Provincial Early Learning Framework, which all our centers follow. This framework is designed to ensure that  we are offering enriching experiences to all of our children. This is completed by meeting all of the learning goals. By making sure  that all the learning goals have been reached by each child and are able to offer them the best start to their life's journeys, this will teach them to become confident, independent. </p>


            <p>At Little Ducklings we believe that becoming a part of the community is extremely important,  we have partnered up with several community partners. Which include U-fit, Pro-Tech Property Restoration & Construction, as well as Canadian Parents for French, to name a few. 
            We believe these relationships are so important because this reinforces our values, culture and learning opportunities that we provide for all the children.</p>

            <p>Little Ducklings Child Care Centers are located in Stratford, Prince Edward Island. 
            Our Centers offer care to children from 8 months to the after School program.
            Little Ducklings Centres are licensed under the Department of Early Childhood Development Education and lifelong learning. Our Centers are licenced under
            (L4574 Little Ducklings), (L4589 Little Ducklings Pond) and (L4591 Little Ducklings Lake).</p>

            <p>Our centers follow the Canadian Food Guide, and have certified educators that have CPR, Food Safety and Whims training.</p>


          </div><!--cms-about-text end-->
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section>