<section class="block7 ">
  <div class="container">
    <div class="cms-about-us">
      <div class="row">
        <div class="col-lg-6">
          <div class="cms-about-text pt-top">
            <h3 class="title-hd">Why become a <span>LITTLE DUCKLING?</span></h3>
            <p></p>

            <p>Our Childcare centre purpose is to give many parents within the community a happy, safe, nurturing, educational environment for their children to explore and develop while being better prepared for kindergarten and life. Through guidance and encouragement to help each child achieve their goals at a developmentally appropriate level.  To provide an inclusive, open-door environment that always puts children and those that care for children first.</p>
            <a href="#" title="">More Info</a>
          </div><!--cms-about-text end-->
        </div>
        <div class="col-lg-6">
          <div class="cms-abt-img">
            <%= image_tag('fire.jpg', width: '667px')  %>
            <!-- <img src="http://via.placeholder.com/667x463" alt=""> -->
          </div><!--cms-abt-img end-->
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section>