<section class="block7 remove-btm-gap">
  <div class="container">
    <div class="cms-about-us">
      <div class="row">
        <div class="col-lg-6">
          <div class="cms-about-text pt-top">
            <h3 class="title-hd">Why become a <span>LITTLE DUCKLING?</span></h3>
            <p></p>
            <p>Little Ducklings offers a diverse, inclusive,cozy, comfortable homey atmosphere, which is very welcoming to all. We have a large green space around the locations as well as some nicely wooded areas for the children to explore and discover. We also are located near  the town soccer fields and rails for trials which is directly across from our location. The children have access to these areas as long as the weather permits.</p>
            <a href="#" title="">More Info</a>
          </div><!--cms-about-text end-->
        </div>
        <div class="col-lg-6">
          <div class="cms-abt-img">
            <%= image_tag('why.jpg') %>
            <!-- <img src="http://via.placeholder.com/667x463" alt=""> -->
          </div><!--cms-abt-img end-->
        </div>
      </div>
    </div><!--about-us-sec end-->
  </div>
</section>