<section class="block5">
  <div class="fixed-bg bg6 no-fix"></div>
  <div class="container">
    <div class="heading clr">
      <h3>Your Children</h3>  
    </div><!--heading end-->
    <div class="childy-sec">
      <div class="acord-sec">
        <div class="row">
          <div class="col-lg-6">
            <div class="bld-text">
              <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
            </div><!--bld-texte end-->
            <div class="feat-links">
              <ul>
                <li><i class="fa fa-check"></i> <span>Elipsis magna a terminal nulla elementum morbi elite</span></li>
                <li><i class="fa fa-check"></i> <span>Praesent arcu gravida vehicula est node maecenas loareet</span></li>
                <li><i class="fa fa-check"></i> <span>Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis</span></li>
                <li><i class="fa fa-check"></i> <span>Elipsis magna a terminal nulla elementum morbi elite forte</span></li>
                <li><i class="fa fa-check"></i> <span>Maecenas est magna vehicula est node maecenas.</span></li>
              </ul>
            </div><!--feat-links end-->
          </div>
          <div class="col-lg-6">
            <div class="accordion provide-accordion toggle" id="accordion-your-children">
              <div class="card toggle-item cl1">
                <div class="card-header" id="headingOne">
                  <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2 class="mb-0 clr1"><i class="fa fa-child"></i> Safety</h2>
                  </button>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-your-children">
                  <div class="card-body">
                    <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                  </div>
                </div>
              </div>
              <div class="card toggle-item cl2">
                <div class="card-header" id="headingTwo">
                  <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h2 class="clr2">
                      <i class="fa fa-smile-o"></i>Happiness
                    </h2>
                  </button>
                  
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-your-children">
                  <div class="card-body">
                    <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                  </div>
                </div>
              </div>
              <div class="card toggle-item cl3">
                <div class="card-header" id="headingThree">
                  <button class="btn btn-block collapsed clr3" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h2 class="clr3"><i class="fa fa-book"></i>Education</h2>
                  </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-your-children">
                  <div class="card-body">
                    <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div><!--acord-sec end-->
      <div class="accord-text">
        <h3>Your children’s education and wellfare are our main priorities</h3>
      </div><!--accord-text end-->
    </div><!--childy-sec end-->
  </div>
</section>